# macOS
.DS_Store

# Node.js dependencies
node_modules/

# VSCode configuration
.vscode/

# User-specific files
.bash_profile
.bashrc
.zshrc
.gitconfig
.viminfo

# System files
.history
.Trash-*

# Log files
*.log
